body {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    background-color: #d3c8db;
    font-family: "Exo 2", sans-serif;
    color: #544d59;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
  width: 100%;
  align-self: flex-start;
}

.banner {
    color: #d3c8db;
    background-color: #544d59;
    width: 100%;
    border-bottom: 1px solid #584b5c;
    margin-bottom: 5px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.banner a:link {
    color: #ffc9ed;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.banner a:visited {
    color: #ffc9ed;
}
.banner a:active {
    color: #ffc9ed;
}
.banner a:hover {
    color: #bf73a1;
}

.banner h1, h2 {
  font-weight: 400;
}

.banner > h1 {
  padding: 0 0 0 50px;
  font-size: 35px;
}

.banner > h2 {
  font-size: 20px;
  padding: 0 50px 0 0;
}

main {
    width: 100%;
}

.board {
    width: 1044px;
    height: 540px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

footer{
    margin-top: 15px;
    }

.card {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 5px;
    background-image: url("img/card.jpg");
    border: 5px solid #655e60;
    border-radius: 5px;
    cursor: pointer;
    filter: brightness(80%);
    transition: all .3s ease-in-out;
}

.card:hover {
    border: 5px solid #bf73a1;
    filter: brightness(100%);
}

.cardA {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 5px;
    background-image: url("img/card.jpg");
    border: 5px solid #bf73a1;
    border-radius: 5px;
    cursor: default;
    filter: brightness(100%);
    transition: all .3s ease-in-out;
}

.score {
    margin-top: 5px;
    letter-spacing: 2px;
}

.reload
{
    margin-top: 50px;
    letter-spacing: 2px;
    font-size: 32px;
    font-weight: 700;
}
 
.reload:hover
{
    color: #bf73a1;
    cursor: pointer;
}

.end
{
    padding-top: 200px;
}